<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>XHProf: Hierarchical Profiler Report</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="/css/xhprof.css" rel="stylesheet" />
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body>
        
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container" style="width: auto; padding: 0 20px;">
                    <a class="brand" href="#">XHProf GUI</a>
                    <!-- <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul> -->
                </div>
            </div>
        </div>

        <div class="xhprof-wrapper">
            {% block content %}{% endblock %}
        </div>
        
        <footer class="footer">
            XHProf GUI has been created by <a href="http://twitter.com/euskadi31">Axel Etcheverry</a><br />
            This application is powered by Silex and Twig.
        </footer>
        
    </body>
</html>